<div class="center-content">

    <mat-card class="example-card">
        <mat-card-header class="header">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">SAFI</mat-card-title>
            <mat-card-subtitle>Iniciar sesión/Crear cuenta</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Iniciar sesión">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Documento de identificación</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="documentnumber">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita el documento de identificación
                                </mat-error>
                                <mat-icon matSuffix class="icon">badge</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Introduce tu contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita la contraseña
                                </mat-error>
                                <mat-icon matSuffix class="icon">vpn_key</mat-icon>
                            </mat-form-field>
                        </div>
                        <button class="mat-button" type="submit" mat-button color="primary">Ingresar</button>
                    </form>
                </mat-tab>

                <mat-tab label="Crear cuenta">
                    <form [formGroup]="searchForm" (ngSubmit)="create()">

                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Documento de identificación</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="documentNumber">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita el documento de identificación
                                </mat-error>
                                <mat-icon matSuffix class="icon">badge</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="name">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita el nombre
                                </mat-error>
                                <mat-icon matSuffix class="icon">account_circle</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Apellido</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="lastName">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita el apellido
                                </mat-error>
                                <mat-icon matSuffix class="icon">account_circle</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Correo electrónico personal</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="email">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita el correo electrónico personal
                                </mat-error>
                                <mat-icon matSuffix class="icon">email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Correo electrónico SENA</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="emailSena">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita el correo electrónico SENA
                                </mat-error>
                                <mat-icon matSuffix class="icon">email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Introduce tu contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita la contraseña
                                </mat-error>
                                <mat-icon matSuffix class="icon">vpn_key</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Teléfono</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="phoneNumber">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita el teléfono
                                </mat-error>
                                <mat-icon matSuffix class="icon">phone</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Dirección</mat-label>
                                <input matInput type="tel" class="example-left-align" formControlName="address">
                                <mat-error *ngIf="!loginForm.hasError('required')">
                                    Digita la dirección
                                </mat-error>
                                <mat-icon matSuffix class="icon">location_on
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <button class="mat-button" type="submit" mat-button color="primary">Crear</button>
                    </form>

                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

</div>
<!--p-message *ngIf="noUser" severity="warn" text="Usuario o contraseña incorrecta"></p-message-->
<br>
<br>
<div class="d-flex justify-content-center" *ngIf="spinner">
    <div class="lds-spinner" style="width: 3rem; height: 3rem; " role="status">
        <span class="visually-hidden"></span>
    </div>
</div>
<p-toast key="myKey1" position="top-right" [baseZIndex]="100"></p-toast>
<p-toast key="myKey2" position="top-right" [baseZIndex]="100"></p-toast>
