.mat-sidenav-container {
  height:90%;
   
}

.mat-sidenav, mat-sidenav-content {
  padding: 20px;
}

.mat-sidenav {
  background-color: #f1f1f1;
  width: 18%;
}


@media (max-width: 500px){
  .mat-sidenav {
  width: 100%;
  }
}

.icon_title{
    color: #757575
    font-size: 30px
  }


.title_1{
  color: #fc7323
  font-weight: bold
  font-size: 20px
  display: inline-block
  padding: 10px
  }

  .title_2{
  color: black
  display: inline-block
  }

.subtitle{
    display: inline-block
  }


  .icon_subtitle{
    color: #fc7323
    font-size: 30px
    display: inline-block

  }


.subtitle_1{
  color: #black
  font-size: 15px
  display: inline-block
  padding: 5px
  }

.icon_menu{
    color: #fc7323
     font-size: 20px
}

.file_download{
    color: #fc7323
     font-size: 10px
}

.manage_accounts{
    color: #fc7323
     font-size: 10px
}

.person{
    color: #fc7323
     font-size: 10px
}

.material-icons{
    color: #fc7323
     font-size: 20px
}


.text_menu{
    color: #757575
    font-size: 13px
}


.icon
  color: #fc7323
  font-size: 1.5em
  position relative
  left  1em
  right 1em
.collapse
  position relative
  right 1.5em
  bottom 0.5em
.fab1
  display block
.fab2
  display block
.fab3
  display block
.fab4
  display block

