<div class="container-fluid">

    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offset-lg-1 text-center">


            <div class="animacion1 animate__animated animate__backInUp animate__slow	3s">Bienvenidos</div>
            <div class="animacion2 animate__animated animate__backInUp animate__slower	3s animate__delay-1s 1s">Sistema de Apoyo a la Formación Integral del Aprendiz </div>
            <div class="animacion3 animate__animated animate__backInUp animate__slower	3s animate__delay-2s 2s">S A F I</div>

        </div>

    </div>

</div>