.container-fluid{

  background-image: url("../../../assets/Image/SAFI1.jpg") ;
  height : 100%;
  max-width : 100%;
  background-repeat: no-repeat;
  background-size:78%;
  background-position: center; 
}


.animacion1{
    font-size:50px;
    margin-top:35%;
    color: #303030;
    font-weight: bold;
}

.animacion2{
    font-size:20px;
    margin-top:2%;
    color: #424242;
}

.animacion3{
    font-size:40px;
    margin-top:0.5%;
    color: #424242;
}

.fas{
    font-size: 68px;
    cursor pointer
}