 /*Style general*/

 *{
  padding 0;
  margin 0;
 }

 /*Style for Header*/
.Header{
  background-color: #fc7323
  color: white
  }
  /*Style menu*/

  .fas{
      color: white;
    padding: 16px;
    font-size: 29px;
    background:#fc7323;
    }

  .fas:hover{
    cursor: pointer
    color:  #F1F1F1
  }

 /*Style fab*/
.icon
  color: white
  font-size: 1.5em
  position relative
  top .4em
  padding: 2px
  left 10%
.icon:hover
  cursor: pointer
  color:  #f1f1f1

.btn-group
  background: none
  outline:none
  border: none
  color: white
  position relative
  left 65%
  box-shadow: none
.collapse
  position relative
  right 1.5em
  bottom 0.5em


