<header class="Header">
  <div class="container-fluid">
    <div class="row">
    <div class="col-2">
      <i class="fas fa-bars" (click)="changeEvent()"></i>
    </div>
    <div class="col-9 text-right navbar-expand-md d-md-block d-none ">
      <a class="icon" href="https://www.sena.edu.co/es-co/Paginas/default.aspx">
        <i class="fab fa-google-plus-square"></i></a>
      <a class="icon" href="https://twitter.com/SENAComunica">
        <i class="fab fa-twitter-square"></i></a>
      <a class="icon" href="https://www.facebook.com/SENA/">
        <i class="fab fa-facebook-square"></i></a>
      <a class="icon" href="https://www.instagram.com/senacomunica/">
        <i class="fab fa-instagram-square"></i></a>
      </div>
      <div class="btn-group col-1 text-right d-md-none " data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="btn-group" role="group">
          <button class="btn-group d-block d-md-none " type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-ellipsis-v"></i>
          </button>
        </div>
       </div>
    </div>
  </div>
</header>
