p{
  font-size: 18px;
  color: #424242;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.2s;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.example-header-image {
    background-image: url('../../../assets/Image/fondosafi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
