<div class="container-fluid example-header-image">

    <div class="row ">
        <div class="col">
            <h2 class="text-center">Contactanos</h2>
            <p>Queremos estar contigo para ayudarte cuando más lo necesites, para guiarte y resolver siempre con una sonrisa cualquier duda que tengas.
                <br> Comunícate con nosotros por los siguientes medios:
            </p>
            <h2> Llama a nuestro centro de ayuda </h2>
            <p>Estamos contigo todos los 7 días de la semana de 8:00 am a 9:00 pm. <b>Nuestro celular es: 316*******</b> </p>

            <h2>Escríbenos tus inquietudes</h2>
            <p> Puedes escribirnos cualquier inquietud que tengas, nosotros te responderemos según el orden de llegada de tu email y lo haremos lo más pronto posible. <b>Nuestro correo es: info@SENA.com.co</b>
            </p>
            <h2 class="text-center">Manuales e inquietudes</h2>
        </div>
    </div>
    <div class="row ">
        <div style="width:25%" class="col-xs-12 col-sm-12 col-md-12 col-lg-2 offset-lg-1 text-center">
            <div class="card">


                <img src="../../../assets/Image/crear-llamado.png" alt="Manual" style="width:100%">
                <div class="container">
                    <p>↓</p>
                    <p class="titleCard"><a href="https://es.calameo.com/read/006511053c122f70976e1" target="_blank">Ver</a></p>
                </div>
            </div>
        </div>

        <div style="width:25%" class="col-xs-12 col-sm-12 col-md-12 col-lg-2 offset-lg-1 text-center">
            <div class="card">
                <img src="../../../assets/Image/responder-llamado.png" alt="Manual" style="width:100%">
                <div class="container">
                    <p>↓</p>
                    <p class="titleCard"><a href="https://es.calameo.com/read/00366186612b29a0bd72f" target="_blank">Ver</a></p>
                </div>
            </div>
        </div>

        <div style="width:25%" class="col-xs-12 col-sm-12 col-md-12 col-lg-2 offset-lg-1 text-center">
            <div class="card">
                <img src="../../../assets/Image/actualiza-llamado.png" alt="Manual" style="width:100%">
                <div class="container">
                    <p>↓</p>
                    <p class="titleCard"><a href="https://es.calameo.com/read/00366186612b29a0bd72f" target="_blank">Ver</a></p>
                </div>
            </div>
        </div>

        <div style="width:25%" class="col-xs-12 col-sm-12 col-md-12 col-lg-2 offset-lg-1 text-center">
            <div class="card">
                <img src="../../../assets/Image/mesa-ayuda.png" alt="Formulario" style="width:100%">
                <div class="container">
                    <p>↓</p>
                    <p class="titleCard"><a href="https://forms.gle/juVAA4K7D9TXvAov8" target="_blank">Ver</a></p>
                </div>
            </div>
        </div>

    </div>
</div>




<!--
<div class="manual">
  <p>En el siguiente apartado se encuentra los enlaces a los respectivos manuales de usuario:</p>
  <br><br>
  <p>Manual aprendiz:</p>
  <a href="https://es.calameo.com/read/00366186612b29a0bd72f" target="">Aprendiz PDF</a>
  <br><br>
  <p>Manual generar llamado:</p>
  <a href="https://es.calameo.com/read/00366186693416decd154">Generar llamado PDF</a>
  <br><br>
  <p>Manual actualizar llamado:</p>
  <a href="https://es.calameo.com/read/003661866a3bd94099c45">Actualizar llamado PDF</a>
  <br><br>
  <p>Formulario:</p>
  <a href="https://forms.gle/juVAA4K7D9TXvAov8">Formulario</a>
</div> -->