#Aside
/*Style for Aside Menu Buscar*//*
.form-inline
  padding: .5em .5em
.form-control 
  margin-left: 1.1em
  width: 28em
.col-md-3
  background-color #faf8f8

.btn-outline-success
  color: #007bff
.btn-outline-success
  border-color rgba(0, 0, 0, 0)
  */
/*Style for Menu Comite*//*
.nav-extra
  background-color #236206
  padding: 1em
  width: 30em
.col-12
  padding: 0em
.btn-outline-success
  color: #007bff
.btn-outline-success
  border-color rgba(0, 0, 0, 0)
.estructure-b
  padding-left: 8em

.nav-pills .nav-link.active
  background-color #FF8000 
  
.nav-pills .nav-add.active
  color: gray

.nav-pills .nav-add
  color: white

.nav-pills .nav-link 
  border-radius: 0em
  color: white 
.nav-link 
  background-color #236206
  text-align: center

.nav-add 
  background-color #236206 !important 
  padding-left: 6em
  text-align: left
.btn
  border-color rgba(0, 0, 0, 0)

.collapse
  border-color: #FF8000
  box-shadow: none 

.nav-item
  width: 30em

.nav-link
  width: 30em
*/
/* resposive *//*
@media (max-width: 320px)
  .btn-outline-success
    position: relative;
    bottom: 3em;
    left: 8em;
  .form-inline
    background-color: #236206;
    height: 3em;
  .form-control 
    width: 17em;

  .nav-item
    width: 20em;
  
@media (min-width: 1511px)
  .flex-column
    width: 31em;
  
  .col-md-3
    width 30em
  */


  /*Style for Boton crear *//*
.bi-plus-circle  
  background-color: #1e7e34;
  color: white
.boton-crear
  border-color rgba(0, 0, 0, 0)
  background #ffffff00
.fa-plus-circle
 color: #1e7e34 
 font-size: 35px
.btn-cancelar 
  background-color #FF8000 
  color: white 
.btn-guardar
  background-color #FF8000 
  color: white 
.modal-header
  background-color:#FF8000
  color: white  
*/