<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
<div class="container-fluid">
    <div class="row ">
        <div class="col">
            <h1 class="fond-weight-bold text-center h1">Modificar Usuario</h1>
        </div>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table" class="table table-hover table-sortable">


                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Documento Identificación</th>
                        <th scope="col">Email SENA</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Visualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of users">
                        <td>{{item.documentNumber}}</td>
                        <td>{{item.emailSena}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.detailUser.name}} {{item.detailUser.lastName}}</td>
                        <td><button mat-icon-button aria-label="Example icon button with a pen" [routerLink]="['../users-update',item.idUsers]">
                            <mat-icon>edit</mat-icon>
                        </button>
                        </td>
                        <td>
                            <button mat-icon-button aria-label="Example icon button with a eye" [routerLink]="['../users-view',item.idUsers]">
                            <mat-icon>visibility</mat-icon>
                           </button>
                        </td>
                        <!--td>
                        <p-inputSwitch (onChange)="switchState(item)" name="procedure" name="state"  [(ngModel)]="item.procedure" [(ngModel)]="item.state"></p-inputSwitch>
                    </td-->
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="loadPagenation($event)"></p-paginator>
                </div>
            </div>
            <!--div class="row">

    <hr>
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="getVerbalCalled($event)"></p-paginator>


</div-->
        </div>
    </div>
</div>